body,
html,
ul,
li,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
dl,
dd,
dt,
input {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

// ios 输入框上边框有阴影
input, textarea {
  box-shadow:0px 0px 0px rgba(0,0,0,0); 
  -webkit-appearance:none;
}

ul li {
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  min-width: 320px;
  width: 100%;
  // height: 100%;
  // overflow: hidden;
  font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue";
  background-color: #fff;
}

// 清楚外边距溢出
.clear-mgn{
  &::before{
    content: '';
    display: table;
  }
}

// element-ui reset
.el-radio{
  color: #C6FCFF;
  margin-right: 15px;
}
.el-radio__label{
  font-size: 12px;
  padding-left: 7px;
}
.el-radio__inner{
  border: 1px solid #adfaff;
  width: 12px;
  height: 12px;
  background-color: transparent;
}
.el-radio__input.is-checked .el-radio__inner{
  background-color: #51ffff;
  border-color: #51ffff;
  &::after{
    transform: scale(0);
  }
}
.el-radio__input.is-checked+.el-radio__label{
  color: #51ffff;
}

//分割线
.el-divider {
  width: 572px;
  height: 1px;
  opacity: 0.5;
  background: #adfaff;
  margin: 0 0 0 7px;
}